*{
    padding: 0;
    margin: 0;
    font-family: Inter;
}

#header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/MainBackground.png);
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 0;
    margin: 0;
}


#logo{
    height: 60px;
    width: 150px;
}

nav{
    display: flex;
    align-items: center;
    padding:1% 5%;
    justify-content: space-between;
    background:#E6AF5D;
    z-index: 1000;
    width: 90%;
    position: fixed;
}

.nav-links{
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    position: relative;
    margin: 5px;
}

.nav-links ul li a{
   text-decoration: none;
   font-weight: 600;
   color: white;
   padding: 8px 12px;
}

.nav-links ul li a:hover{
    background-color: white;
    text-decoration: none;
    font-weight: 600;
    border-radius: 5px;
    color:#E6AF5D !important;
 }

.home-banner{
    font-size: 2rem;
    text-align: center;
    align-items: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-banner .welcome-heading{
    margin-top: 10px;
}

.home-banner .welcome-text{
    font-size: 24px;
    color: #E6AF5D;
}

.home-banner-nav{
    margin-top: 10%;
    display: inline-block;
}

.btn{
    padding: 11px;
    margin: 5px;
    border-radius: 5px;
    background: transparent;
    border: 3px solid #E6AF5D; 
    color:#E6AF5D;
    border-color:#E6AF5D;
    cursor: pointer;
    font-weight: 600;
    width: 200px;
    font-size: 16px;
    height: 50px;
}

.btn:hover{
    background-color: #E6AF5D;
    border: 3px solid #E6AF5D; 
    color: white;
}

.nav .fa-solid{
    display: block;
    font-size: 20px;
    color: white;
    margin: 10px;
}

#services-section{
    padding-top: 40px;
    text-align: center;
    width: 80%;
    margin: auto;
}

.services-heading{
    margin-top: 30px;
    font-size: 20px;
    color: #E6AF5D;
}

.services-text{
    margin: 10px;
    padding: 15px;
    font-size: 40px;
}

.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.service-item{
    flex-basis: 31%;
    box-sizing: border-box;
    text-align: left;
    margin-bottom: 5%;
    border: 1px solid black;
    position: relative;
}

.img-container {
    width: 100%;
    height: 250px;
    overflow: hidden;
  }
  
  .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.layer{
    position: absolute;
    background: transparent;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    transition: 0.5s;
    z-index: 3;
}

.layer:hover{
    background: rgba(4,9,30,0.7);
}

.layer h3{
    bottom: 5px;
    left: 50%;
    position: absolute;
    font-size: 16px;
    font-weight: 600;
    transform: translateX(-50%);
    text-align: center;
    transition: 0.5s;
    color: #E6AF5D;
    font-weight: 700;
}

.layer:hover h3{
    opacity: 1;
    color: white;
    bottom: 49%;
}

#call-us-now{
    width: 100%;
    text-align: center;
    background-color: #E6AF5D;
    color: white;
    padding: 12px 10px;
}

#call-us-now .text{
    margin: 5px;
    font-size: 18px;
}

#call-us-now .contact-number{
    font-size: 30px;
}

#about-us{
    width: 100%;
    display: flex;
    margin-top: 30px;
}

#about-us-img{
    background-image: url(./images/shop-img.jpeg);
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

#about-us #about-us-details{
    padding: 20px;
}
#about-us-details h1{
    color:#E6AF5D;
    padding: 5px;
    margin-top: 10px;
    font-size: 24px;
}

#about-us-details h2{
    padding: 5px;
    margin-top: 10px;
    font-size: 36px;
}

#about-us-details p{
    padding: 5px;
    margin-top: 10px;
    font-size: 16px;
}

#about-us-details ul {
   list-style: none;
   margin-top: 20px;
}

#about-us-details ul li {
    font-size: 18px;
    font-weight: 400;
 }

#about-us-details ul li::before {
    content: "\2022";
    color:#E6AF5D;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
    padding-left: 30px;
    padding-top: 10px;
  }


#footer{
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/footer.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}  

.footer-items{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    color: white;
}

.footer-item{
    max-width: 300px;
}

.footer-item .heading{
    font-size: 30px;
    padding:10px;
    margin:10px;
    color:#E6AF5D;
}

.footer-item ul{
    list-style: none;
    padding-left: 12px;
}

.footer-item ul li{
    font-size: 16px;
    padding:10px;
}

.social-media-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.social-media-icons a{
    text-decoration: none;
    color: white;
    size: 30px;
    padding: 20px;
}

.social-media-icons a:hover{
    color:#E6AF5D;
    size: 40px;
}

.fa{
    display: none;
}


@media(max-width: 600px){
    .nav-links{
        position: absolute;
        top: 0;
        right:0;
        z-index: 3;
        background-color: #E6AF5D;
        color: white;
        height: 100vh;
        width: 200px;
        text-align: left;
        right: -200px;
        transition: 0.5s;
    }

    
    .nav-links ul {
        display: block;
        padding: 30px;
    }

    .nav-links ul li a{
        display: block;
        padding: 10px;
    }

    .row{
        flex-direction: column;
    }

    #about-us{
        flex-direction: column;
    }

    .footer-items{
        flex-direction: column;
    }

    .fa{
        display: block;
        font-size: 22px;
        color: white;
        margin: 10px;
        cursor: pointer;
    }
}